html {
  box-sizing: border-box;
  width: 100%;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('../images/leaves-folder.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-h1 {
  margin-top: 50px;
  font-size: 50px;
}

.line {
  width: 90px;
  height: 4px;
  background-color: rgb(136, 95, 25);
  border-radius: 20px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.todo-container {
  border: 2px solid black;
  margin-top: 40px;
  width: 50%;
  background-color: azure;
  display: flex;
  flex-direction: column;
}

.top-div {
  display: flex;
  height: 50px;
  border-bottom: 1px solid burlywood;
  justify-content: space-between;
  align-items: center;
  background-image: url('../images/leaves-folder.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.top-div p {
  margin-left: 20px;
  font-weight: 600;
}

#rotate:hover {
  cursor: pointer;
}

@keyframes rotation {
  from {
    transform: rotate(300deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.top-div i {
  margin-right: 20px;
}

.add-list {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

#input {
  width: 80%;
  height: 30px;
  padding: 5px;
  margin-left: 20px;
  border: none;
  background-color: azure;
}

.add-btn {
  background-color: rgb(34, 232, 166);
  border-color: rgb(61, 241, 181);
  margin-right: 20px;
  width: 30px;
  height: 18px;
  font-weight: 600;
  font-size: 12px;
}

.add-btn:hover {
  cursor: pointer;
  border-color: rgb(127, 226, 190);
}

.toDoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.added-checkbox {
  display: flex;
  align-items: center;
  height: 50px;
}

.added-checkbox .item {
  margin-right: 10px;
  margin-left: 20px;
}

.findInput {
  width: 80%;
  height: 30px;
  padding: 5px;
  border: none;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: azure;
}

.toDoItem i {
  margin-right: 20px;
}

.toDoItem i:hover {
  cursor: pointer;
}

.complete-cont {
  display: flex;
  justify-content: center;
  height: 50px;
  background-image: url('../images/leaves.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid burlywood;
  padding-top: 20px;
  padding-bottom: 10px;
}

.complete-btn {
  border: none;
  background-image: url('../images/flowers-page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.complete-btn:hover {
  border-radius: 20px;
  border: 2px solid brown;
  background-image: none;
  background-color: brown;
}
